body html {
    margin: 0;
    padding: 0;
}
.bagroundimg{
    background-image: url(main.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
/*
    background-size: cover;
    background-position: center cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    */
}